* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(white, rgb(164, 108, 18));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: relative;
    left: 30;
}
div.contact {
    position: relative;
    width: 70vh;
    padding: 30px;
    background-color: rgb(164, 108, 18);
    border: 4px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input,
.btn {
    border-radius: 30px;
    border: 4px solid white;
    padding: 20px;
    width: 50vh;
}
textarea {
    width: 50vh;
    padding: 10px;
    border-radius: 30px;
    border: 4px solid white;
}
hr {
    width: 30vh;
    height: 4px;
    background: black;
    border-radius:2px;
}
.img img {
    position:absolute;
    right: -110px;
    bottom: -50px;
    width: 200px;
}
h1{
    text-align: left;
    margin-left:-40px;
}
div.text{
    padding: 10px;
    border: 2px solid black;
    border-radius:30px;
    position: absolute;
    right: -290px;
    bottom: 150px;
    /* width: 200px; */
    color: black;
}
button{
    background:linear-gradient(white,rgb(164, 108, 18)) ;
    font-weight: bolder;
    font-size: larger;
}