*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Stack Sans Text", sans-serif;
    font-weight: weight;
    font-style: normal;
}
body{
    background: linear-gradient(135deg, #0A84FF, #7B2FF7);
    color: #F8F9FB;
}
div.img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header{
    margin-left:60px;
}
.log{   
    color:#A0A8B8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stack-sans-text{
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
nav{
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color:#0A0A0A;
    width:100%;
}
ul.nav{
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-weight: bolder;
}
li a{
    display: block;
    color: #0A84FF;
    padding: 40px;
    text-align: center;
}
li a:hover {
    color:rgb(164, 108, 18);
    text-decoration: underline  ;
}
.name{
    color: rgb(164, 108, 18);
}
section.home{
    color:aliceblue;
    scroll-margin-top:150px; /*tells brower to leave space while scrolling */
    margin-top: 50px;
}
div.title{
    text-align: center;
    /* text-decoration: underline; */
    font-weight: bolder;
    font-size: x-large;
}
div.home ,div.about ,div.resume ,
div.projects,div.achievements,div.contact{
    margin:40px;
}
section.about ,
section.resume,
section.projects,
section.achievements,
section.contact{
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.938);
    margin: 10px;
    margin-top: 30px;
    scroll-margin-top: 200px;
    padding: 20px;
    height: 70vh;
}
section.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:100vh;
}
.btn button a{
    padding: 100px;
    color: rgb(164, 108, 18);
    font-weight: bolder;
    font-size: larger;
    
}
.btn button a:hover{
    color: aliceblue;
}
.btn button  {
    border-radius: 30px;
    height: 50px;
}
.btn button:hover{
    background-color: rgb(164, 108, 18);
}
div.btn{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
div.title{
    margin-top:70px;
}
