*{
    margin:0px;
    padding:0px;
}
#head{
    font-size: larger;
    background-color: #081b31;
    color: aliceblue;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    text-align: center;
    align-items:center;
}
#img{
    margin-top: 5rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}
img{
    background-size: cover;
    border-radius: 50%;
    height:15rem;
    width: 15rem;
    margin: 10px;  
}
img:hover{
    opacity:50%;
    background-size: cover;
    border:8px solid #081b31;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    margin: 10px;
    justify-content: center;
}
#scoreB{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
}
.same{
    font-size: 70px;
    margin: 30px;
}
#mss{
    justify-content: center;
        text-align: center;
        background-color: #081b31;
        color: #fff;
        font-size: 3rem;
        display: inline;
        padding: 2rem;
        border-radius: 2rem;
        justify-content: center;
        /* margin-left: 44rem; */
        /* margin-top: 5rem; */
    }
.mss { display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            background-color: #081b31;
            color: white;
            font-size: 1.2rem;
            width: 300px;
            height: 60px;
            border-radius: 10px;
            text-align: center;
            transition: background-color 0.3s ease; }
